{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
 <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '322259754867811',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

 <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
     <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>
{% endblock %}
{% block footer %}
{% endblock %}
